.gallery {
    /* background-color: var(--navbar); */
    background-color: #1d1d1d ;
    border-radius: 10px;
    padding: 50px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    animation: onload 0.3s linear 1;
}

.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: flex-start;   
}

.gallery__header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.gallery__header_item {
    width: 20px;
    height: 30px;
    background-color: rgba(73, 73, 73, 0.274);   
    margin-right: 10px;
    border-radius: 5px;
}

.gal__item {
    height: 200px;
    max-width: 600px;
    /* background-color: gold; */
    transition: all 0.3s ease-in;
    /* border-radius: 20px; */
    overflow: hidden;
}
/* .gal__item:hover{
    scale: 0.9;
} */
.gal__item:hover img{
    scale: 1.2;
}

/* .gal__item:nth-child(1) {
    grid-area: 1 / 1 / 1 / 3;
}
.gal__item:nth-child(2) {
    grid-area: 3 / 4 / span 1 / span 3;
} */


.gal__item img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
